PORT=3050
HOST=0.0.0.0
API_KEY=change-me
CORS_ORIGIN=*
REQUEST_TIMEOUT_MS=15000
COLLECTOR_USER_AGENT=Camping-car-API/1.0 (+https://github.com/Noxo123/Camping-car-API)
# Automatic collection interval in minutes. Default: 360 (6 hours).
COLLECT_INTERVAL_MINUTES=360
